.body {
  color: grey;
  margin: 0 auto;
  width: 60%;
  padding: 40px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  height: auto;
  font-family: sans-serif;
  font-size: 14px;
}

#file-type {
  text-align: center;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

label {
  cursor: pointer;
}

input[type="file"] {
    display: none;
}

input {
  color: grey;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

select {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px;
    text-align: center;
    color: grey;
    background-color: white;
    cursor: pointer;
}

hr {
  border: 0;
  margin: 16px;
  border-top: 1px solid lightgrey;
}

#information {
  text-align: center;
}

#inversion-order {
  text-align: center;
}

body {
  margin: 0;
}

.footer {
  color: grey;
  text-align: center;
}

#graphs {
  display: none;
}

.options {
  display: flex;
  text-align: center;
}

.options-child {
  flex: 1 1 auto;
}